<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />

    <title>Frontend Mentor | Todo app</title>

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <section :class="{'light-theme' : lightMode}">
        <section class="image-header"></section>
        <section class="rest-of-content">
          <div class="todo-content">
            <div class="header">
              <h3>Todo</h3>
              <button class="theme-switcher" @click="toggleTheme">
                <span v-if="!lightMode"
                  ><img src="images/icon-sun.svg" alt="Light Mode"
                /></span>
                <span v-else
                  ><img src="images/icon-moon.svg" alt="Dark Mode"
                /></span>
              </button>
            </div>
            <form action="" @submit.prevent="addGoal">
              <div class="input-field">
                <span class="circle"></span>
                <input
                  type="text"
                  name="goal"
                  id=""
                  placeholder="Currently Typing"
                  v-model="newGoalValue"
                />
              </div>
            </form>
            <div class="todos-container">
              <div class="main-content" v-if="goals.length > 0">
                <ul>
                  <li
                    class="todo-item"
                    v-for="(goal, index) in filteredGoals"
                    :key="goal.name"
                    :class="{completed: goal.completed}"
                  >
                    <span class="main-todo">
                      <span class="circle" @click="toggleGoal(goal)"></span>
                      <span class="todo-name">{{ goal.name }}</span>
                    </span>
                    <span class="remove-todo" @click="deleteGoal(index)"
                      ><img src="images/icon-cross.svg" alt=""
                    /></span>
                  </li>
                </ul>
                <div v-if="filteredGoals.length === 0">
                  <p>You don't have any goal in this section</p>
                </div>
                <div class="todos-footer">
                  <span class="items-left"
                    >{{ remainingGoals.length }} items left</span
                  >
                  <div class="filter">
                    <input
                      type="radio"
                      v-model="selectedFilter"
                      value="All"
                      id="All"
                    />
                    <label for="All">All</label>
                    <input
                      type="radio"
                      v-model="selectedFilter"
                      value="Active"
                      id="Active"
                    />
                    <label for="Active">Active</label>
                    <input
                      type="radio"
                      v-model="selectedFilter"
                      value="Completed"
                      id="Completed"
                    />
                    <label for="Completed">Completed</label>
                  </div>
                  <div class="clear">
                    <button @click="clearCompleted">clear completed</button>
                  </div>
                </div>
              </div>
              <p v-else="goals.length === 0">You have not added any goals</p>
            </div>
          </div>
        </section>
      </section>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js"></script>
  </body>
</html>
